html,
body,
div,
span,
h2,
h4,
p,
a,
img,
b,
i,
label,
article,
figure,
footer,
header,
section {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: url(../img/pattern.png) repeat;
    color: #4a545d;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.container-big {
    max-width: 1400px;
    min-width: 960px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


/* Header */

.page-header {
    background: #eff3f7 url(../img/line.png) bottom center no-repeat;
    height: 120px;
    margin-bottom: 40px;
}

.header-logo {
    margin-left: 100px;
    margin-top: 40px;
}

.header-social {
    margin-right: 100px;
    margin-top: 35px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    .social-block {
        width: 47px;
        height: 47px;
        background: #58697a;
        border-radius: 50%;
        font-size: 25px;
        color: #eff3f7;
        text-align: center;
        padding-top: 10px;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            background: #3ba8c0;
        }
    }
}


/* Main */

.page-main {
    display: flex;
    justify-content: space-between;
}


/* Sidebar */

.sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* Navigation */

.main-nav {
    margin-bottom: 45px;
    border-radius: 5px;
}

.nav-list {
    background: #eff3f7;
    margin: 0;
    padding: 0;
}

.nav-item {
    font-size: 0;
    border-top: 2px solid #3ba8c0;
    margin: 0 10px;
    &:first-child {
        border-top: none;
    }
    .nav-link {
        padding: 25px 15px;
        font-size: 22px;
        line-height: 1.5;
        display: block;
        color: #959aa8;
        text-decoration: none;
        transition: 0.3s all;
        &:hover {
            color: #3ba8c0;
            padding-left: 5px;
        }
    }
    &.active {
        background: #3ba8c0;
        margin: 0;
        margin-bottom: -2px;
        .nav-link {
            padding: 25px 15px;
            color: #fff;
        }
    }
}


/* Contacts */

.contacts {
    font-style: normal;
    color: #fff;
    border-radius: 10px;
}

.contacts-title {
    font-size: 21px;
    padding: 18px 0 12px 20px;
    background: #3ba8c0;
    h4 {
        font-weight: 400;
    }
}

.contact-item {
    padding: 15px 0 15px 55px;
    font-size: 17px;
    .contact-link {
        text-decoration: none;
        color: #fff;
        .fa {
            margin-right: 10px;
        }
    }
    &:nth-child(2) {
        background: #41b9d4;
    }
    &:nth-child(3) {
        background: #48cbe8;
    }
    &:nth-child(4) {
        background: #51daf8;
    }
}


/* About me */

.about-me,
.my-works {
    width: 650px;
}

.inform,
.xp,
.educ,
.my-works {
    background: #eff3f7;
    margin-bottom: 25px;
}

.block-title {
    display: flex;
    margin-bottom: 30px;
    p {
        font-size: 27px;
        line-height: 30px;
        color: #3ba8c0;
        padding: 28px;
        border-bottom: 2px solid #3ba8c0;
    }
}

.inform-inner {
    display: flex;
    padding: 0 45px;
}

.inform-img {
    width: 150px;
    height: 150px;
    background: url(../img/inform-img.jpg) no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 6px solid #3ba8c0;
    margin-right: 25px;
}

.information {
    width: 380px;
    .inform-text {
        font-size: 15px;
        color: #37424d;
        margin-bottom: 20px;
        b {
            margin-right: 20px;
        }
    }
}

.inform-skills {
    display: flex;
}

.inform-skill {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .inform-skill-item {
        font-size: 14px;
        font-weight: 300;
        color: #fff;
        background-image: linear-gradient(to bottom, #3ba8c0 50%, #2e8ca2 50%);
        text-align: center;
        padding: 3px 10px;
        border-radius: 4px;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    &:last-child {
        margin-bottom: 45px;
    }
}


/* xp educ */

.xp-inner,
.educ-inner {
    padding: 0 55px 20px;
}

.xp-block,
.educ-block {
    padding-left: 65px;
    background: url(../img/bg-xp.png) no-repeat left center;
    color: #4a545d;
    margin-bottom: 25px;
}

.text-name {
    font-size: 17px;
    font-weight: 400;
}

.text-date {
    font-size: 15px;
    font-weight: 300;
}

.educ {
    margin-bottom: 40px;
}

.universe {
    background: url(../img/bg-universe.png) no-repeat left center;
}

.course {
    background: url(../img/bg-course.png) no-repeat 10px center;
}


/* my-works */

.my-works-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.my-works-item {
    width: 170px;
    margin: 0 15px;
    text-align: center;
    margin-bottom: 30px;
    &-img {
        content: "";
        height: 130px;
        width: 166px;
        border: 2px solid #3ba8c0;
        border-radius: 4px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

.site-name,
.add-text{
    font-size: 13px;
    color: #3ba8c0;
    font-weight: 300;
    margin-bottom: 15px;
    font-style: italic;
}

.site-inform {
    font-size: 15px;
    font-weight: 300px;
}
.add-project {
    margin-left: 15px;
    margin-bottom: 270px;
    height: 130px;
    width: 166px;
    border: 1px dashed #3ba8c0;
    border-radius: 4px;
    text-align: center;
    position: relative;
    background: #edf8fc url(../img/bg-add-project.png) no-repeat center;
    cursor: pointer;
    .add-text {
        font-style: normal;
        position: absolute;
        bottom: 10px;
        left: 35px;
    }
}


/* Footer */

.page-footer {
    background: #eff3f7 url(../img/line.png) top center no-repeat;
    font-weight: 300;
    flex: 0 0 auto;
    height: 80px;
    .container {
        position: relative;
        padding-top: 23px;
    }
    .copyright {
        margin: 0 180px;
        padding-top: 7px;
        text-align: center;
        font-size: 13px;
    }
    .lock {
        position: absolute;
        top: 26px;
        left: 20px;
        &-inner {
            display: block;
            height: 40px;
            font-weight: 400;
            font-size: 16px;
            line-height: 2.2;
            color: #4a545d;
            text-decoration: none;
            background: url(../img/lock-close.png) no-repeat;
            padding-left: 24px;
            &:hover {
                text-decoration: underline;
                background: url(../img/lock-open.png) no-repeat;
            }
        }
    }
}
